dist/
.astro/

# dependencies
node_modules/

# Editors
.idea
*.iml

# OS metadata
.nyc_output
.DS_Store
Thumbs.db

# lock file
yarn.lock
package-lock.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# coverage
coverage/
